{{ form_start(form, {'attr': {'class': 'effiana_config_settings_modify'}}) }}
	{{ form_errors(form) }}

	{% for section in sections | effiana_sortSections %}
		{% if section is not empty %}
			<fieldset>
				<legend>{{ section | trans({}, 'ConfigBundle') }}</legend>
		{% endif %}

		{% for setting in form.settings if setting.vars.value.section == section %}
			{{ form_row(setting.value) }}
		{% endfor %}

		{% if section is not empty %}
			</fieldset>
		{% endif %}
	{% endfor %}

	{{ form_rest(form) }}

	<button type="submit">{{ 'modify_settings' | trans({}, 'ConfigBundle') }}</button>
{{ form_end(form) }}
